$color-white: #FFF;
$color-black: #000;

$color-background-grey-light: #EBEFF7;
$color-background-grey-dark: #DFE3EB;

$color-text-900: #231F20;
$color-text-800: #4B4B4B;
$color-text-700: #656565;

$color-grey-600: #9C9C9C;
$color-grey-500: #CCCCCC;
$color-grey-400: #939FB8;

$color-orange: #FF9300;
$color-yellow: #FFC107;
