@use "../abstracts/colors" as *;

.footer {
  &__container {
    background-color: $color-background-grey-light;
    padding-block: 13rem 13.2rem;
  }
  &__data {
    display: flex;
    gap: 12.8rem;
    width: min(100%, 135.3rem);
    @media (max-width: 800px) {
      display: grid;
      grid-template-columns: repeat(auto-fit, 175px);
      margin: 0 auto;
      justify-content: center;
      text-align: center;
    }
  }
  &__credits {
    background-color: $color-background-grey-dark;
    padding-block: 4rem;
    &-text {
      line-height: 2.2rem;
    }
  }
  &__contact {
    flex: 1;
    &-phone {
      display: flex;
      gap: 0.8rem;
      & p {
        font-size: 1.2rem;
      }
    }
    & img {
      max-width: 4rem;
      max-height: 4rem;
    }
    @media (max-width: 800px) {
      align-items: center;
    }
  }

  & ul {
    list-style-type: none;
    padding: 0;
  }
  & a:hover {
    color: $color-orange;
  }
  & a,
  & li {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-decoration: none;
    color: $color-text-700;
  }
  & li {
    margin-bottom: 1.6rem;
  }
  &__heading {
    font-weight: 500;
    margin-bottom: 0.6rem;
  }
  &__social {
    &-icons {
      display: flex;
      gap: 0.8rem;
      margin-top: 1rem;
      margin-bottom: 4.4rem;
    }
    &-icon {
      max-width: 2.4rem;
    }
    & img {
      max-width: 12rem;
    }
    @media (max-width: 800px) {
      align-items: center;
    }
  }
}
