.u-max-width {
  width: min(100%, 173.6rem) !important;
  padding-inline: 5rem !important;
  margin-inline: auto !important;
}
.u-flex-column {
  display: flex !important;
  flex-direction: column !important;
}
